# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# nodejs
.DS_Store
mhall-web-mobile/node_modules/
mhall-web-mobile/dist/
mhall-web-mobile/npm-debug.log*
mhall-web-mobile/yarn-debug.log*
mhall-web-mobile/yarn-error.log*
mhall-web-mobile/test/unit/coverage/
mhall-web-mobile/test/e2e/reports/
mhall-web-mobile/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

